@tailwind base;
@tailwind components;
@tailwind utilities;

/* This hides the "thumb" of the slider until you hover over the progress bar */
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.group:hover input[type='range']::-webkit-slider-thumb {
  opacity: 1;
}